.navmenu{
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin: 0 auto;
}

.companylogo img{
    max-height: 45px;
}

.home a{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
}

.home a{
    color: rgba(254, 254, 254, 0.7);
    text-decoration: none;
}

.home svg{
    fill: rgba(254, 254, 254, 0.7);
}